


<select class="select select-primary w-full max-w-x">
  <option>Najčešća pitanja</option>
  <option>Kako se mogu prijaviti na natjecanje</option>
  <option>Kako sudjelovati u natjecanju</option>
  <option>Koliko često se događaju natjecanja</option>
</select>